<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Keyanna!</h1>
    <p>Welcome to my blog where you will learn about my 12-week Ironyard journey.</p>
    <p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/keyanna85">@keyanna85</a> or on the web at <a href="http://keyannamayfield.com">keyannamayfield.com</p>
  </div>
</div>
